Repository pmem/pmdk, pull requests merged in 2020-10, with the labels that each got.

#5011 pmem2: source get fd/handle
  doc/Makefile
  doc/libpmem2/.gitignore
  doc/libpmem2/pmem2_source_get_fd.3.md
  doc/libpmem2/pmem2_source_get_handle.3.md
  src/include/libpmem2.h
  src/libpmem2/libpmem2.def
  src/libpmem2/libpmem2.link.in
  src/libpmem2/source_posix.c
  src/libpmem2/source_windows.c
  src/test/pmem2_source/TESTS.py
  src/test/pmem2_source/pmem2_source.c
  src/test/scope/out13.log.match
  src/test/scope/out14.log.match
Labels: libpmem2

#4955 doc: add pmem2_map_from_existing
  _data/releases_linux.yml
  _data/releases_windows.yml
Labels: libpmem2

#4989 common: add pmemset to the check scripts
  utils/check-area.sh
  utils/check-commit.sh
Labels: libpmemset

#4990 doc: add libpmemset manpage
  Makefile
  doc/Makefile
  doc/libpmemset/.gitignore
  doc/libpmemset/libpmemset.7.md
Labels: libpmemset

#4998 set: setup simple build for libpmemset
  src/Makefile
  src/PMDK.sln
  src/include/libpmemset.h
  src/libpmemset/Makefile
  src/libpmemset/libpmemset.c
  src/libpmemset/libpmemset.def
  src/libpmemset/libpmemset.link.in
  src/libpmemset/libpmemset.vcxproj
  src/libpmemset/libpmemset.vcxproj.filters
  src/libpmemset/libpmemset_main.c
  src/libpmemset/pmemset.h
  src/test/Makefile.inc
  src/test/scope/TESTS.py
  src/test/scope/out15.log.match
  src/test/scope/out16.log.match
Labels: libpmemset

#4991 doc: add libpmemset to pmem.io (gh-pages)
  _data/releases_linux.yml
  _data/releases_windows.yml
  index.md
  libpmemset/index.md
Labels: libpmemset

#5004 set: add function stubs
  src/Makefile
  src/include/libpmemset.h
  src/libpmemset/Makefile
  src/libpmemset/config.c
  src/libpmemset/config.h
  src/libpmemset/event.h
  src/libpmemset/libpmemset.c
  src/libpmemset/libpmemset.def
  src/libpmemset/libpmemset.link.in
  src/libpmemset/libpmemset.vcxproj
  src/libpmemset/libpmemset.vcxproj.filters
  src/libpmemset/part.c
  src/libpmemset/part.h
  src/libpmemset/pmemset.c
  src/libpmemset/pmemset.h
  src/libpmemset/source.c
  src/libpmemset/source.h
  src/test/Makefile.inc
  src/test/scope/out15.log.match
  src/test/scope/out16.log.match
  src/test/scope/scope.vcxproj
  src/test/scope/scope.vcxproj.filters
Labels: libpmemset

#5023 common: enable GH Container Registry after all
  .github/workflows/coverity.yml
  .github/workflows/gha.yml
  .travis.yml
  utils/docker/README
  utils/docker/build-CI.sh
  utils/docker/build-local.sh
  utils/docker/images/build-image.sh
  utils/docker/images/push-image.sh
  utils/docker/pull-or-rebuild-image.sh
Labels: OS: Linux, build system

#5005 set: added libpmemset to the test environment
  src/PMDK.sln
  src/test/Makefile
  src/test/pmemset_include/Makefile
  src/test/pmemset_include/pmemset_include.c
  src/test/pmemset_include/pmemset_include.vcxproj
  src/test/pmemset_include/pmemset_include.vcxproj.filters
  src/test/unittest/unittest.h
Labels: libpmemset

#5007 set: add logging infrastructure
  doc/Makefile
  doc/libpmemset/.gitignore
  doc/libpmemset/libpmemset.7.md
  doc/libpmemset/pmemset_errormsg.3.md
  doc/libpmemset/pmemset_perror.3.md
  src/PMDK.sln
  src/include/libpmemset.h
  src/libpmemset/Makefile
  src/libpmemset/config.c
  src/libpmemset/errormsg.c
  src/libpmemset/libpmemset.def
  src/libpmemset/libpmemset.link.in
  src/libpmemset/libpmemset.vcxproj
  src/libpmemset/libpmemset.vcxproj.filters
  src/libpmemset/pmemset_utils.c
  src/libpmemset/pmemset_utils.h
  src/test/Makefile
  src/test/Makefile.inc
  src/test/pmemset_perror/.gitignore
  src/test/pmemset_perror/Makefile
  src/test/pmemset_perror/TESTS.py
  src/test/pmemset_perror/pmemset_perror.c
  src/test/pmemset_perror/pmemset_perror.vcxproj
  src/test/pmemset_perror/pmemset_perror.vcxproj.filters
  src/test/pmemset_perror/test0.log.match
  src/test/pmemset_perror/test1.log.match
  src/test/pmemset_perror/test2.log.match
  src/test/pmemset_perror/test3.log.match
  src/test/scope/out15.log.match
  src/test/scope/out16.log.match
  src/test/unittest/Makefile
  src/test/unittest/ut_pmemset_utils.c
  src/test/unittest/ut_pmemset_utils.h
Labels: libpmemset

#5018 set: pmemset_config_new/delete
  doc/Makefile
  doc/libpmemset/.gitignore
  doc/libpmemset/pmemset_config_delete.3
  doc/libpmemset/pmemset_config_new.3.md
  src/PMDK.sln
  src/libpmemset/config.c
  src/libpmemset/config.h
  src/libpmemset/libpmemset.vcxproj.filters
  src/libpmemset/pmemset_utils.c
  src/libpmemset/pmemset_utils.h
  src/test/Makefile
  src/test/pmemset_config/.gitignore
  src/test/pmemset_config/Makefile
  src/test/pmemset_config/TESTS.py
  src/test/pmemset_config/pmemset_config.c
  src/test/pmemset_config/pmemset_config.vcxproj
  src/test/pmemset_config/pmemset_config.vcxproj.filters
Labels: libpmemset

#5025 set: pmemset_source_from_pmem2
  doc/Makefile
  doc/libpmemset/.gitignore
  doc/libpmemset/pmemset_source_from_pmem2.3.md
  src/PMDK.sln
  src/include/libpmemset.h
  src/libpmemset/libpmemset.vcxproj.filters
  src/libpmemset/source.c
  src/libpmemset/source.h
  src/test/Makefile
  src/test/pmemset_source/.gitignore
  src/test/pmemset_source/Makefile
  src/test/pmemset_source/TESTS.py
  src/test/pmemset_source/pmemset_source.c
  src/test/pmemset_source/pmemset_source.vcxproj
  src/test/pmemset_source/pmemset_source.vcxproj.filters
Labels: libpmemset

#5012 set: add rpm and dpkg package build
  Makefile
  src/Makefile
  utils/build-dpkg.sh
  utils/build-rpm.sh
  utils/libpmemset.pc.in
  utils/pmdk.spec.in
Labels: libpmemset

#5035 doc: update section list in config_new manpage
  doc/libpmemset/pmemset_config_new.3.md
Labels: libpmemset

#5036 doc: update libpmemset funcs releases list
  _data/releases_linux.yml
  _data/releases_windows.yml
Labels: libpmemset
