Repository pmem/pmdk, pull requests merged in 2020-04, with the labels that each got.

#4705 pmem2: make two bad block functions internal
  src/libpmem2/badblocks.h
  src/libpmem2/badblocks_ndctl.c
  src/libpmem2/badblocks_none.c
Labels: libpmem2

#4707 pmem2: make pmem2_badblock_clear() take pmem2_badblock_context
  src/include/libpmem2.h
  src/libpmem2/libpmem2.def
  src/libpmem2/libpmem2.link.in
  src/libpmem2/source.c
  src/test/scope/out13.log.match
Labels: libpmem2

#4703 test: simplify pmem2_mem_ext test by using "generic param" feature
  src/test/pmem2_mem_ext/TESTS.py
Labels: libpmem2

#4711 test: fix obj_defrag_advanced dump file name collision
  src/test/obj_defrag_advanced/TESTS.py
  src/test/obj_defrag_advanced/obj_defrag_advanced.c
Labels: libpmemobj, libpmemobj defrag

#4623 pmem2: redo log example
  src/PMDK.sln
  src/examples/libpmem2/Makefile
  src/examples/libpmem2/redo/Makefile
  src/examples/libpmem2/redo/redo.c
  src/examples/libpmem2/redo/redo.vcxproj
  src/examples/libpmem2/redo/redo.vcxproj.filters
  src/test/ex_libpmem2/TESTS.py
Labels: examples, libpmem2

#4682 test: support make -jN in pycheck target
  src/test/Makefile
  src/test/Makefile.inc
  src/test/RUNTESTS.py
  src/test/tools/Makefile
  src/test/unittest/Makefile
  src/test/unittest/configurator.py
Labels: QA: TF

#4702 pmem2: (+pmem) avoid triggering harmless warning under pmemcheck
  src/libpmem2/x86_64/memcpy/memcpy_avx.h
  src/libpmem2/x86_64/memcpy/memcpy_sse2.h
  src/libpmem2/x86_64/memset/memset_avx.h
  src/libpmem2/x86_64/memset/memset_sse2.h
Labels: libpmem, libpmem2

#4725 common: bump GHA checkout action to v2 for Windows too
  .github/workflows/gha.yml
Labels: QA: CI

#4734 test: remove fs_dir_force_pmem field in testconfig.py.example
  src/test/testconfig.py.example
Labels: QA: TF

#4733 test: add bad block files to LIBPMEM2 internal-(non)debug
  src/common/pmemcommon.inc
  src/libpmem2/Makefile
  src/libpmem2/extent_none.c
  src/test/Makefile.inc
  src/test/tools/extents/Makefile
Labels: libpmem2

#4742 test: fix rpmem_addr_ext test
  src/test/rpmem_addr_ext/TEST0
Labels: librpmem

#4745 common: disable spin locks in libfabric
  utils/docker/images/install-libfabric.sh
Labels: QA: CI, librpmem

#4741 common: support private installations of libfabric
  src/Makefile.inc
  src/benchmarks/Makefile
  src/common.inc
  src/examples/Makefile.inc
  src/librpmem/Makefile
  src/test/Makefile
  src/test/rpmem_addr_ext/Makefile
  src/test/rpmem_basic/Makefile
  src/test/rpmem_fip/Makefile
  src/test/tools/fip/Makefile
  src/test/unittest/unittest.sh
  src/tools/rpmemd/Makefile
Labels: build system, librpmem

#4727 examples: fix redo error handling
  src/examples/libpmem2/redo/redo.c
Labels: examples, libpmem2

#4739 doc: Piotr is the new Marcin
  README.md
  utils/docker/images/Dockerfile.fedora-31
  utils/docker/images/Dockerfile.ubuntu-19.10
  utils/pkg-config.sh
Labels: documentation

#4695 pmem2: deep_sync implementation
  src/common/file_posix.c
  src/common/os_deep_linux.c
  src/common/pmemcommon.inc
  src/include/libpmem2.h
  src/libpmem/Makefile
  src/libpmem2/Makefile
  src/libpmem2/deep_sync.c
  src/libpmem2/deep_sync.h
  src/libpmem2/deep_sync_linux.c
  src/libpmem2/deep_sync_other.c
  src/libpmem2/deep_sync_windows.c
  src/libpmem2/libpmem2.def
  src/libpmem2/libpmem2.link.in
  src/libpmem2/libpmem2.vcxproj
  src/libpmem2/libpmem2.vcxproj.filters
  src/libpmem2/map.h
  src/libpmem2/map_posix.c
  src/libpmem2/persist.c
  src/libpmem2/pmem2_utils_linux.c
  src/test/Makefile.inc
  src/test/pmem2_granularity/pmem2_granularity.vcxproj
  src/test/pmem2_granularity/pmem2_granularity.vcxproj.filters
  src/test/pmem2_integration/TESTS.py
  src/test/pmem2_integration/pmem2_integration.c
  src/test/pmem2_map/pmem2_map.vcxproj
  src/test/pmem2_map/pmem2_map.vcxproj.filters
  src/test/pmem2_persist/Makefile
  src/test/pmem2_persist/pmem2_persist.vcxproj
  src/test/pmem2_persist/pmem2_persist.vcxproj.filters
  src/test/scope/out13.log.match
  src/test/util_sds/util_sds.vcxproj
  src/test/util_sds/util_sds.vcxproj.filters
Labels: libpmem2

#4746 pmem: (+pmem2) insert compiler barriers after NT stores
  src/core/util.h
  src/libpmem2/x86_64/memcpy/memcpy_nt_avx.c
  src/libpmem2/x86_64/memcpy/memcpy_nt_avx512f.c
  src/libpmem2/x86_64/memcpy/memcpy_nt_sse2.c
  src/libpmem2/x86_64/memcpy/memcpy_t_avx.c
  src/libpmem2/x86_64/memcpy/memcpy_t_avx512f.c
  src/libpmem2/x86_64/memcpy/memcpy_t_sse2.c
  src/libpmem2/x86_64/memset/memset_nt_avx.c
  src/libpmem2/x86_64/memset/memset_nt_avx512f.c
  src/libpmem2/x86_64/memset/memset_nt_sse2.c
  src/libpmem2/x86_64/memset/memset_t_avx.c
  src/libpmem2/x86_64/memset/memset_t_avx512f.c
  src/libpmem2/x86_64/memset/memset_t_sse2.c
Labels: libpmem, libpmem2

#4747 common: change appveyor image version to 2019 and delete sln sort check
  appveyor.yml
Labels: build system, libpmem2

#4752 test: fix UT_ASSERTinfo_rt() macro
  src/test/unittest/unittest.h
Labels: QA: TF

#4750 pmem2: make ndctl_region_namespace return pmem2 errors
  src/include/libpmem2.h
  src/libpmem2/ndctl_region_namespace.c
Labels: libpmem2

#4749 pmem2: make extent functions return pmem2 errors
  src/libpmem2/badblocks_ndctl.c
  src/libpmem2/extent.h
  src/libpmem2/extent_linux.c
  src/libpmem2/extent_none.c
  src/libpmem2/pmem2_utils.c
  src/libpmem2/pmem2_utils.h
  src/test/tools/extents/extents.c
  src/test/util_extent/util_extent.c
Labels: libpmem2

#4764 pmem2: fix regression in badblocks_get()
  src/libpmem2/badblocks_ndctl.c
Labels: libpmem2

#4761 test: add 'execute' protection support for fd/fh abstraction
  src/test/unittest/ut_fh.c
  src/test/unittest/ut_fh.h
Labels: QA: TF, libpmem2

#4771 common: exclude envconfig.py from style checking
  utils/style_check.sh
Labels: build system

#4672 pmem2: add libpmem2 badblock context functions
  src/include/libpmem2.h
  src/libpmem2/badblocks.h
  src/libpmem2/badblocks_ndctl.c
  src/libpmem2/badblocks_none.c
  src/libpmem2/libpmem2.vcxproj
  src/libpmem2/libpmem2.vcxproj.filters
  src/libpmem2/source.c
  src/libpmempool/replica.c
  src/libpmempool/sync.c
  src/test/util_badblock/util_badblock.c
  src/tools/pmempool/info.c
Labels: libpmem2

#4719 test: unittests for pmem2_deep_sync
  src/PMDK.sln
  src/test/Makefile
  src/test/pmem2_deep_sync/.gitignore
  src/test/pmem2_deep_sync/Makefile
  src/test/pmem2_deep_sync/TESTS.py
  src/test/pmem2_deep_sync/pmem2_deep_sync.c
  src/test/pmem2_deep_sync/pmem2_deep_sync.vcxproj
  src/test/pmem2_deep_sync/pmem2_deep_sync.vcxproj.filters
Labels: libpmem2

#4778 pmem2: sort public APIs
  src/include/libpmem2.h
Labels: libpmem2

#4718 pmem2: add pmem2_badblock_clear()
  src/include/libpmem2.h
  src/libpmem2/badblocks.h
  src/libpmem2/badblocks_ndctl.c
  src/libpmem2/badblocks_none.c
  src/libpmem2/source.c
  src/libpmempool/replica.c
  src/tools/daxio/daxio.c
Labels: libpmem2

#4744 obj: implement new fragmentation test with highly variable sizes
  src/test/obj_fragmentation2/Makefile
  src/test/obj_fragmentation2/TESTS.py
  src/test/obj_fragmentation2/obj_fragmentation2.c
Labels: libpmemobj

#4774 pmem/pmem2: optimize NT mem[cpy|set] for SSE2 and AVX
  src/libpmem2/x86_64/cpu.c
  src/libpmem2/x86_64/cpu.h
  src/libpmem2/x86_64/init.c
  src/libpmem2/x86_64/memcpy/memcpy_nt_avx.c
  src/libpmem2/x86_64/memcpy/memcpy_nt_sse2.c
  src/libpmem2/x86_64/memcpy_memset.h
  src/libpmem2/x86_64/memset/memset_nt_avx.c
  src/libpmem2/x86_64/memset/memset_nt_sse2.c
  src/test/pmem2_mem_ext/TESTS.py
  src/test/pmem2_memcpy/TESTS.py
  src/test/pmem2_memset/TESTS.py
Labels: libpmem, libpmem2

#4775 pmem/pmem2: enable AVX and AVX512F by default
  src/libpmem2/x86_64/init.c
  src/test/pmem2_memcpy/TESTS.py
  src/test/pmem2_memmove/TESTS.py
  src/test/pmem2_memset/TESTS.py
  src/test/pmem2_movnt/TESTS.py
  src/test/pmem2_movnt_align/TESTS.py
  src/test/pmem_memcpy/TESTS.py
  src/test/pmem_memmove/TEST0
  src/test/pmem_memmove/TEST0.PS1
  src/test/pmem_memset/TEST0
  src/test/pmem_memset/TEST0.PS1
  src/test/pmem_movnt/TEST0
  src/test/pmem_movnt/TEST0.PS1
  src/test/pmem_movnt_align/TEST0
  src/test/pmem_movnt_align/TEST0.PS1
  src/test/pmem_movnt_align/TEST1
Labels: libpmem, libpmem2
