Repository pmem/pmdk, pull requests merged in 2020-01, with the labels that each got.

#4385 pmem2: additional alignment assert
  doc/libpmem2/pmem2_config_get_alignment.3.md
  src/include/libpmem2.h
  src/libpmem2/config_posix.c
  src/libpmem2/config_windows.c
  src/libpmem2/map.c
Labels: feature: pmem2

#4409 pmem2: additional alignment assert
  src/libpmem2/map.c
Labels: feature: pmem2

#4373 test (py): enable defining devdax requirements
  src/test/unittest/devdax.py
Labels: feature: pmem2

#4404 doc: add man for PMEM2_FORCE_GRANULARITY
  doc/libpmem2/libpmem2.7.md
Labels: feature: pmem2

#4416 test: fix pmem2_config_get_file_size
  src/test/pmem2_config_get_file_size/TESTS.py
  src/test/pmem2_config_get_file_size/pmem2_config_get_file_size.c
Labels: feature: pmem2

#4375 test: pmem2 alignment test extension
  src/test/pmem2_config_get_alignment/TESTS.py
Labels: feature: pmem2

#4366 pmem2: cleanup pmem2 tests
  src/test/pmem2_config/TESTS.py
  src/test/pmem2_config/pmem2_config.c
  src/test/pmem2_config_get_alignment/TESTS.py
  src/test/pmem2_config_get_alignment/pmem2_config_get_alignment.c
  src/test/pmem2_config_get_file_size/TESTS.py
  src/test/pmem2_config_get_file_size/pmem2_config_get_file_size.c
Labels: feature: pmem2

#4419 pmem2: (win) mark create_mapping as static
  src/libpmem2/map_windows.c
Labels: feature: pmem2

#4396 pmem2: cleanup pmem2 tests part 2
  src/test/pmem2_granularity/pmem2_granularity.c
  src/test/pmem2_integration/pmem2_integration.c
  src/test/pmem2_map/TESTS.py
  src/test/pmem2_map/pmem2_map.c
Labels: feature: pmem2

#4402 pmem2: remove and replace pmem2_get_length func
  src/libpmem2/config.c
  src/libpmem2/config.h
  src/libpmem2/map.c
  src/libpmem2/map.h
  src/libpmem2/map_posix.c
  src/libpmem2/map_windows.c
Labels: feature: pmem2

#4388 test: integration tests for alignment
  src/test/pmem2_integration/TESTS.py
  src/test/pmem2_integration/pmem2_integration.c
Labels: feature: pmem2

#4437 pmem2: add missing ERR to windows pmem2_map func
  src/libpmem2/map_windows.c
Labels: feature: pmem2

#4441 Fix pmempool_info unity tests for PPC64LE
  src/test/pmempool_info/out1.log.match
  src/test/pmempool_info/out5.log.match
  src/test/pmempool_info/out6.log.match
  src/test/pmempool_info/out7.log.match
Labels: arch: ppc64

#4442 test: fix pmemspoil blk arena offset
  src/test/tools/pmemspoil/spoil.c
Labels: arch: ppc64

#4439 pool: fix btt offset calculation
  src/libpmempool/check_btt_info.c
Labels: arch: ppc64

#4444 test: fix lane and arena offsets in unittest.sh
  src/test/unittest/unittest.sh
Labels: arch: ppc64

#4447 pmem: change ppc64 init logs to experimental
  src/libpmem/ppc64/init.c
Labels: arch: ppc64

#4332 obj: introduce new statistics useful for defrag
  doc/libpmemobj/pmemobj_ctl_get.3.md
  src/include/libpmemobj/ctl.h
  src/libpmemobj/heap.c
  src/libpmemobj/palloc.c
  src/libpmemobj/stats.c
  src/libpmemobj/stats.h
  src/test/obj_ctl_stats/obj_ctl_stats.c
  src/test/obj_fragmentation2/obj_fragmentation2.c
Labels: feature: obj defrag

#4386 test: obj_defrag_advanced
  src/PMDK.sln
  src/test/Makefile
  src/test/obj_defrag_advanced/.gitignore
  src/test/obj_defrag_advanced/Makefile
  src/test/obj_defrag_advanced/TESTS.py
  src/test/obj_defrag_advanced/obj_defrag_advanced.c
  src/test/obj_defrag_advanced/obj_defrag_advanced.vcxproj
  src/test/obj_defrag_advanced/obj_defrag_advanced.vcxproj.filters
  src/test/obj_defrag_advanced/pgraph.c
  src/test/obj_defrag_advanced/pgraph.h
  src/test/obj_defrag_advanced/vgraph.c
  src/test/obj_defrag_advanced/vgraph.h
Labels: feature: obj defrag

#4465 test: fix pmempool_transform for ppc64le
  src/test/pmempool_transform/out10.log.match
  src/test/pmempool_transform/out13.log.match
  src/test/pmempool_transform/out17.log.match
  src/test/pmempool_transform/out23.log.match
  src/test/pmempool_transform/out24.log.match
  src/test/pmempool_transform/out3.log.match
  src/test/pmempool_transform/out4.log.match
  src/test/pmempool_transform/out5.log.match
  src/test/pmempool_transform/out6.log.match
Labels: arch: ppc64

#4464 test: fix pmempool_sync for ppc64le
  src/test/pmempool_sync/TEST0
  src/test/pmempool_sync/out10.log.match
  src/test/pmempool_sync/out2.log.match
  src/test/pmempool_sync/out4.log.match
Labels: arch: ppc64

#4460 test: fix blk_pool for ppc64le
  src/test/blk_pool/out38.log.match
  src/test/blk_pool/out40.log.match
Labels: arch: ppc64

#4459 test: fix blk_non_zero/TEST10 non zero size
  src/test/blk_non_zero/TEST10
Labels: arch: ppc64

#4462 pmem2: move test util_ctl from libpmemobj to util folder in sln
  src/PMDK.sln
Labels: feature: pmem2

#4449 pmem2: test obj_ravl refactor and rename
  src/PMDK.sln
  src/test/Makefile
  src/test/obj_ravl/.gitignore
  src/test/util_ravl/.gitignore
  src/test/util_ravl/Makefile
  src/test/util_ravl/TEST0
  src/test/util_ravl/TEST0.PS1
  src/test/util_ravl/util_ravl.c
  src/test/util_ravl/util_ravl.vcxproj
  src/test/util_ravl/util_ravl.vcxproj.filters
Labels: feature: pmem2

#4448 test: add separate namespace for granularity
  src/test/obj_defrag_advanced/TESTS.py
  src/test/obj_fragmentation2/TESTS.py
  src/test/pmem2_config/TESTS.py
  src/test/pmem2_config_get_alignment/TESTS.py
  src/test/pmem2_config_get_file_size/TESTS.py
  src/test/pmem2_granularity/TESTS.py
  src/test/pmem2_granularity_detection/TESTS.py
  src/test/pmem2_integration/TESTS.py
  src/test/scope/TESTS.py
  src/test/testframework.py
Labels: feature: pmem2

#4508 obj: fix defrag when the last object is referenced the most
  src/libpmemobj/palloc.c
Labels: feature: obj defrag

#4390 pmem2: snprintf coverity fix
  src/common/util.c
  src/common/util.h
  src/libpmem2/pmem2_utils_linux.c
  src/test/tools/dllview/dllview.vcxproj
  src/test/tools/sparsefile/sparsefile.vcxproj
Labels: feature: pmem2

#4440 doc: add pmem2_get_[flush|drain|persist]_fn man pages
  doc/Makefile
  doc/libpmem2/.gitignore
  doc/libpmem2/pmem2_get_drain_fn.3.md
  doc/libpmem2/pmem2_get_flush_fn.3.md
  doc/libpmem2/pmem2_get_persist_fn.3.md
Labels: feature: pmem2
