Repository pmem/pmdk, pull requests merged in 2020-12, with the labels that each got.

#5068 doc: add pmemset_source_delete manpage
  doc/Makefile
  doc/libpmemset/.gitignore
  doc/libpmemset/pmemset_source_delete.3.md
Labels: libpmemset

#5066 set: pmemset_config_set_required_store_granularity
  doc/Makefile
  doc/libpmemset/.gitignore
  doc/libpmemset/pmemset_config_set_required_store_granularity.3.md
  src/include/libpmemset.h
  src/libpmemset/config.c
  src/libpmemset/config.h
  src/libpmemset/libpmemset.def
  src/libpmemset/libpmemset.link.in
  src/libpmemset/pmemset.c
  src/test/pmemset_config/TESTS.py
  src/test/pmemset_config/pmemset_config.c
  src/test/pmemset_new/TESTS.py
  src/test/pmemset_new/pmemset_new.c
  src/test/scope/out15.log.match
  src/test/scope/out16.log.match
  src/test/unicode_api/TEST0
Labels: libpmemset

#5067 pmem2: get numa node from source
  doc/Makefile
  doc/libpmem2/.gitignore
  doc/libpmem2/pmem2_source_numa_node.3.md
  src/common/pmemcommon.inc
  src/include/libpmem2.h
  src/libpmem/Makefile
  src/libpmem2/Makefile
  src/libpmem2/libpmem2.def
  src/libpmem2/libpmem2.link.in
  src/libpmem2/libpmem2.vcxproj
  src/libpmem2/libpmem2.vcxproj.filters
  src/libpmem2/numa_ndctl.c
  src/libpmem2/numa_none.c
  src/test/Makefile
  src/test/Makefile.inc
  src/test/pmem2_integration/pmem2_integration.c
  src/test/pmem2_source_numa/.gitignore
  src/test/pmem2_source_numa/Makefile
  src/test/pmem2_source_numa/TESTS.py
  src/test/pmem2_source_numa/pmem2_source_numa.c
  src/test/scope/out13.log.match
  src/test/scope/out14.log.match
Labels: libpmem2

#5078 doc: update releases list
  _data/releases_linux.yml
  _data/releases_windows.yml
Labels: libpmem2

#5079 test: add require ndctl to numa tests
  src/test/pmem2_source_numa/TESTS.py
Labels: libpmem2

#5082 common: upgrade Ubuntu docker image to 20.04 LTS
  .github/workflows/coverity.yml
  .github/workflows/gha.yml
  .travis.yml
  utils/docker/images/Dockerfile.ubuntu-20.04
Labels: QA: CI

#5088 doc: Fix the document of pmem_is_pmem(). It can be used for filesystem dax.
  doc/libpmem/pmem_is_pmem.3.md
Labels: documentation

#5083 set: add pmemset_part_map
  doc/Makefile
  doc/libpmemset/.gitignore
  doc/libpmemset/pmemset_part_delete.3
  doc/libpmemset/pmemset_part_map.3.md
  doc/libpmemset/pmemset_part_new.3.md
  src/core/libpmemcore.vcxproj
  src/core/libpmemcore.vcxproj.filters
  src/core/sys_util.h
  src/include/libpmemset.h
  src/libpmemset/libpmemset.def
  src/libpmemset/libpmemset.link.in
  src/libpmemset/part.c
  src/libpmemset/part.h
  src/libpmemset/pmemset.c
  src/libpmemset/pmemset.h
  src/libpmemset/source.c
  src/libpmemset/source.h
  src/test/pmemset_include/Makefile
  src/test/pmemset_new/pmemset_new.vcxproj
  src/test/pmemset_new/pmemset_new.vcxproj.filters
  src/test/pmemset_part/TESTS.py
  src/test/pmemset_part/pmemset_part.c
  src/test/pmemset_part/pmemset_part.vcxproj
  src/test/pmemset_part/pmemset_part.vcxproj.filters
  src/test/scope/out15.log.match
  src/test/scope/out16.log.match
Labels: libpmemset

#5091 set: pmemset_part_map pages update
  _data/releases_linux.yml
  _data/releases_windows.yml
Labels: documentation

#5051 set: add pmemset_part_map_first/next/descriptor functions
  doc/Makefile
  doc/libpmemset/.gitignore
  doc/libpmemset/pmemset_descriptor_part_map.3.md
  doc/libpmemset/pmemset_first_part_map.3.md
  doc/libpmemset/pmemset_next_part_map.3
  src/core/ravl.c
  src/core/ravl.h
  src/core/ravl_interval.c
  src/core/ravl_interval.h
  src/include/libpmemset.h
  src/libpmemset/libpmemset.def
  src/libpmemset/libpmemset.link.in
  src/libpmemset/part.c
  src/libpmemset/pmemset.c
  src/test/pmemset_new/pmemset_new.vcxproj
  src/test/pmemset_new/pmemset_new.vcxproj.filters
  src/test/pmemset_part/TESTS.py
  src/test/pmemset_part/pmemset_part.c
  src/test/pmemset_part/pmemset_part.vcxproj
  src/test/pmemset_part/pmemset_part.vcxproj.filters
  src/test/scope/out15.log.match
  src/test/scope/out16.log.match
Labels: libpmemset

#5099 doc: update libs_map.yml (and fix indentation)
  _data/libs_map.yml
Labels: documentation

#5076 set: granularity support in the part map
  doc/Makefile
  doc/libpmemset/.gitignore
  doc/libpmemset/pmemset_config_set_required_store_granularity.3.md
  doc/libpmemset/pmemset_get_store_granularity.3.md
  src/include/libpmemset.h
  src/libpmemset/config.c
  src/libpmemset/config.h
  src/libpmemset/libpmemset.def
  src/libpmemset/libpmemset.link.in
  src/libpmemset/part.c
  src/libpmemset/part.h
  src/libpmemset/pmemset.c
  src/test/pmemset_part/TESTS.py
  src/test/pmemset_part/pmemset_part.c
  src/test/scope/out16.log.match
Labels: libpmemset

#5102 set: fix granularity enum value assignment
  src/libpmemset/config.c
  src/libpmemset/config.h
  src/libpmemset/pmemset.c
Labels: libpmemset
