Repository pmem/pmdk, pull requests merged in 2020-03, with the labels that each got.

#4598 doc: add pmem2_get_mem[cpy|mov|set] doc
  doc/Makefile
  doc/libpmem2/.gitignore
  doc/libpmem2/libpmem2.7.md
  doc/libpmem2/pmem2_get_memcpy_fn.3
  doc/libpmem2/pmem2_get_memmove_fn.3.md
  doc/libpmem2/pmem2_get_memset_fn.3
Labels: feature: pmem2

#4628 doc: update releases win/lnx lists
  _data/releases_linux.yml
  _data/releases_windows.yml
Labels: feature: pmem2

#4467 Add ppc64le support for travis-ci
  .travis.yml
  utils/docker/build-local.sh
  utils/docker/build-travis.sh
  utils/docker/images/Dockerfile.fedora-31
  utils/docker/images/Dockerfile.ubuntu-19.10
  utils/docker/images/install-libndctl.sh
  utils/docker/images/install-valgrind.sh
  utils/docker/ppc64le.blacklist
  utils/docker/prepare-for-build.sh
  utils/docker/run-build-package.sh
  utils/pmdk.spec.in
Labels: QA: CI, arch: ppc64

#4612 common: rename build-travis.sh to build-CI.sh
  .github/workflows/coverity.yml
  .github/workflows/gha.yml
  .travis.yml
  doc/RELEASE_STEPS.md
  utils/docker/README
  utils/docker/build-CI.sh
Labels: QA: CI

#4648 pmem2: remove pmem2_source_file_size compat wrapper
  src/include/libpmem2.h
  src/test/pmem2_perror/pmem2_perror.c
Labels: feature: pmem2

#4650 test: fix skipping Any tests
  src/test/unittest/granularity.py
Labels: QA: TF, feature: pmem2

#4638 test: Fix obj_persist_count/TEST2
  src/test/obj_persist_count/out2.log.match
Labels: arch: ppc64

#4627 test: Fix pmempool_sync non-pmem cases for ppc64le
  src/test/pmempool_sync/TEST32
  src/test/pmempool_sync/TEST33
  src/test/pmempool_sync/TEST34
  src/test/pmempool_sync/TEST35
  src/test/pmempool_sync/TEST36
  src/test/pmempool_sync/TEST37
  src/test/pmempool_sync/TEST42
  src/test/pmempool_sync/TEST43
  src/test/pmempool_sync/TEST44
  src/test/pmempool_sync/TEST45
  src/test/pmempool_sync/TEST46
  src/test/pmempool_sync/TEST47
  src/test/pmempool_sync/TEST48
  src/test/pmempool_sync/TEST49
  src/test/pmempool_sync/TEST50
  src/test/pmempool_sync/TEST51
  src/test/pmempool_sync/TEST52
  src/test/pmempool_sync/TEST53
  src/test/pmempool_sync/setup.sh
  src/test/pmempool_sync_remote/TEST26
  src/test/pmempool_sync_remote/TEST27
  src/test/pmempool_sync_remote/TEST28
  src/test/pmempool_sync_remote/TEST29
  src/test/pmempool_sync_remote/TEST30
  src/test/pmempool_sync_remote/TEST31
  src/test/unittest/unittest.sh
Labels: arch: ppc64

#4651 pytest: use proper (in-tree) libs rather than system ones
  src/test/unittest/tools.py
Labels: QA: TF

#4656 pmem2: minor cleanups
  src/libpmem2/ppc64/init.c
  src/libpmem2/ppc64/platform_generic.c
  src/libpmem2/ppc64/platform_generic.h
  src/libpmem2/ppc64/sources.inc
  src/libpmem2/usc_none.c
Labels: feature: pmem2

#4646 examples: split pmem2 examples into separate directories
  src/PMDK.sln
  src/examples/libpmem2/.gitignore
  src/examples/libpmem2/Makefile
  src/examples/libpmem2/advanced/.gitignore
  src/examples/libpmem2/advanced/Makefile
  src/examples/libpmem2/advanced/advanced.c
  src/examples/libpmem2/advanced/advanced.vcxproj
  src/examples/libpmem2/advanced/advanced.vcxproj.filters
  src/examples/libpmem2/basic/.gitignore
  src/examples/libpmem2/basic/Makefile
  src/examples/libpmem2/basic/basic.c
  src/examples/libpmem2/basic/basic.vcxproj
  src/examples/libpmem2/basic/basic.vcxproj.filters
  src/examples/libpmem2/log/.gitignore
  src/examples/libpmem2/log/Makefile
  src/examples/libpmem2/log/log.c
  src/examples/libpmem2/log/log.vcxproj
  src/examples/libpmem2/log/log.vcxproj.filters
  src/test/ex_libpmem2/ex_libpmem2.vcxproj
  src/test/unittest/futils.py
Labels: feature: pmem2

#4658 common: move os_dimm* files and badblocks constructors to libpmem2
  src/common/badblock.c
  src/common/badblock.h
  src/common/badblock_ndctl.c
  src/common/libpmemcommon.vcxproj
  src/common/libpmemcommon.vcxproj.filters
  src/common/os_dimm.h
  src/common/os_dimm_none.c
  src/common/os_dimm_windows.c
  src/common/pmemcommon.inc
  src/common/shutdown_state.c
  src/libpmem/libpmem.vcxproj
  src/libpmem/libpmem.vcxproj.filters
  src/libpmem2/Makefile
  src/libpmem2/badblocks.c
  src/libpmem2/badblocks.h
  src/libpmem2/badblocks_ndctl.c
  src/libpmem2/badblocks_none.c
  src/libpmemblk/libpmemblk.vcxproj
  src/libpmemblk/libpmemblk.vcxproj.filters
  src/libpmemlog/libpmemlog.vcxproj
  src/libpmemlog/libpmemlog.vcxproj.filters
  src/libpmemobj/libpmemobj.vcxproj
  src/libpmemobj/libpmemobj.vcxproj.filters
  src/libpmempool/Makefile
  src/libpmempool/libpmempool.vcxproj
  src/libpmempool/libpmempool.vcxproj.filters
  src/libpmempool/replica.c
  src/test/Makefile.inc
  src/test/obj_persist_count/obj_persist_count.vcxproj
  src/test/obj_persist_count/obj_persist_count.vcxproj.filters
  src/test/util_badblock/Makefile
  src/test/util_badblock/util_badblock.c
  src/tools/daxio/Makefile
  src/tools/daxio/daxio.c
  src/tools/pmempool/Makefile
  src/tools/pmempool/info.c
  src/tools/pmempool/pmempool.vcxproj
Labels: feature: pmem2

#4642 pmem2: add shared/private mapping support
  doc/Makefile
  doc/libpmem2/.gitignore
  doc/libpmem2/pmem2_config_set_sharing.3.md
  doc/libpmem2/pmem2_map.3.md
  src/include/libpmem2.h
  src/libpmem2/config.c
  src/libpmem2/config.h
  src/libpmem2/map.c
  src/libpmem2/map.h
  src/libpmem2/map_posix.c
  src/libpmem2/map_windows.c
  src/libpmem2/pmem2.c
  src/test/pmem2_config/TESTS.py
  src/test/pmem2_config/pmem2_config.c
  src/test/pmem2_integration/TESTS.py
  src/test/pmem2_integration/pmem2_integration.c
  src/test/pmem2_map/TESTS.py
  src/test/pmem2_map/pmem2_map.c
  src/test/pmem2_map/pmem2_map.vcxproj
  src/test/pmem2_map/pmem2_map.vcxproj.filters
Labels: feature: pmem2

#4645 test: add pmem2_mem_ext test
  src/PMDK.sln
  src/libpmem2/memops_generic.c
  src/libpmem2/x86_64/memcpy/memcpy_nt_avx.h
  src/libpmem2/x86_64/memcpy/memcpy_nt_avx512f.h
  src/libpmem2/x86_64/memcpy/memcpy_nt_sse2.h
  src/libpmem2/x86_64/memcpy/memcpy_t_avx.h
  src/libpmem2/x86_64/memcpy/memcpy_t_avx512f.h
  src/libpmem2/x86_64/memcpy/memcpy_t_sse2.h
  src/libpmem2/x86_64/memset/memset_nt_avx.h
  src/libpmem2/x86_64/memset/memset_nt_avx512f.h
  src/libpmem2/x86_64/memset/memset_nt_sse2.h
  src/libpmem2/x86_64/memset/memset_t_avx.h
  src/libpmem2/x86_64/memset/memset_t_avx512f.h
  src/libpmem2/x86_64/memset/memset_t_sse2.h
  src/test/Makefile
  src/test/pmem2_mem_ext/.gitignore
  src/test/pmem2_mem_ext/Makefile
  src/test/pmem2_mem_ext/TESTS.py
  src/test/pmem2_mem_ext/pmem2_mem_ext.c
  src/test/pmem2_mem_ext/pmem2_mem_ext.vcxproj
  src/test/pmem2_mem_ext/pmem2_mem_ext.vcxproj.filters
  src/test/unittest/basetest.py
  src/test/unittest/tools.py
Labels: feature: pmem2

#4665 common: move extent* files and os_badblocks_(count|get) to libpmem2
  src/common/badblock.c
  src/common/badblock_ndctl.c
  src/common/badblock_none.c
  src/common/os_badblock.h
  src/libpmem2/Makefile
  src/libpmem2/badblocks.h
  src/libpmem2/badblocks_ndctl.c
  src/libpmem2/badblocks_none.c
  src/libpmem2/extent.h
  src/libpmem2/extent_freebsd.c
  src/libpmem2/extent_linux.c
  src/libpmempool/replica.c
  src/test/tools/extents/Makefile
  src/test/util_badblock/util_badblock.c
  src/test/util_extent/Makefile
  src/tools/pmempool/info.c
Labels: feature: pmem2

#4666 common: rename common/badblock.c to common/set_badblocks.c
  src/common/badblock_ndctl.c
  src/common/libpmemcommon.vcxproj
  src/common/libpmemcommon.vcxproj.filters
  src/common/pmemcommon.inc
  src/common/set.c
  src/common/set_badblocks.c
  src/common/set_badblocks.h
  src/libpmem2/badblocks_ndctl.c
  src/libpmemblk/libpmemblk.vcxproj
  src/libpmemblk/libpmemblk.vcxproj.filters
  src/libpmemlog/libpmemlog.vcxproj
  src/libpmemlog/libpmemlog.vcxproj.filters
  src/libpmemobj/libpmemobj.vcxproj
  src/libpmemobj/libpmemobj.vcxproj.filters
  src/libpmempool/check_bad_blocks.c
  src/libpmempool/libpmempool.vcxproj
  src/libpmempool/libpmempool.vcxproj.filters
  src/libpmempool/replica.c
  src/test/Makefile.inc
  src/test/obj_sds/obj_sds.vcxproj
  src/test/obj_sds/obj_sds.vcxproj.filters
  src/test/util_badblock/util_badblock.c
  src/tools/pmempool/common.c
  src/tools/pmempool/info.c
Labels: feature: pmem2

#4667 common: move the rest of badblock_ndctl.c to libpmem2
  src/common/badblock_ndctl.c
  src/common/badblock_none.c
  src/common/os_badblock.h
  src/common/set_badblocks.c
  src/libpmem2/badblocks.h
  src/libpmem2/badblocks_ndctl.c
  src/libpmem2/badblocks_none.c
  src/libpmempool/check_bad_blocks.c
  src/libpmempool/replica.c
  src/libpmempool/replica.h
  src/test/util_badblock/util_badblock.c
Labels: feature: pmem2

#4624 pmem2: add map fixed noreplace support to linux and windows
  doc/Makefile
  doc/libpmem2/.gitignore
  doc/libpmem2/pmem2_config_clear_address.3.md
  doc/libpmem2/pmem2_config_set_address.3.md
  src/include/libpmem2.h
  src/libpmem2/config.c
  src/libpmem2/config.h
  src/libpmem2/libpmem2.link.in
  src/libpmem2/map_posix.c
  src/libpmem2/map_windows.c
  src/libpmem2/pmem2.c
  src/test/pmem2_config/TESTS.py
  src/test/pmem2_config/pmem2_config.c
  src/test/pmem2_map/TESTS.py
  src/test/pmem2_map/pmem2_map.c
  src/test/scope/out13.log.match
Labels: feature: pmem2

#4640 test: (py) add generic param
  src/test/obj_fragmentation2/TESTS.py
  src/test/unittest/context.py
  src/test/unittest/ctx_filter.py
Labels: QA: TF

#4674 test: pmem2_mem_ext: check AVX512F at build time
  src/libpmem2/x86_64/memcpy_memset.h
  src/test/Makefile
  src/test/pmem2_mem_ext/TESTS.py
  src/test/unittest/context.py
  src/test/unittest/tools.py
Labels: feature: pmem2

#4671 pmem2: move common ndctl functions to ndctl_region_namespace.c
  src/common/pmemcommon.inc
  src/libpmem2/Makefile
  src/libpmem2/badblocks_ndctl.c
  src/libpmem2/ndctl_region_namespace.c
  src/libpmem2/ndctl_region_namespace.h
  src/libpmem2/usc_ndctl.c
  src/test/Makefile.inc
Labels: feature: pmem2

#4670 test: fix pmemcheck defects in tests
  src/test/pmem2_integration/pmem2_integration.c
  src/test/pmem2_memcpy/memcpy_common.c
  src/test/pmem2_memcpy/pmem2_memcpy.c
Labels: feature: pmem2

#4676 pmem2: add pmem2_zalloc()
  src/libpmem2/pmem2_utils.c
  src/libpmem2/pmem2_utils.h
Labels: feature: pmem2

#4675 pmem2: make extent functions operate on file descriptor
  src/libpmem2/badblocks_ndctl.c
  src/libpmem2/extent.h
  src/libpmem2/extent_freebsd.c
  src/libpmem2/extent_linux.c
  src/test/tools/extents/extents.c
  src/test/util_extent/util_extent.c
Labels: feature: pmem2

#4677 pmem2: mv get ddax region id to pmem2
  src/common/file_posix.c
  src/libpmem2/pmem2_utils.h
  src/libpmem2/pmem2_utils_linux.c
  src/libpmem2/pmem2_utils_other.c
Labels: feature: pmem2

#4680 pmem2: two minor fixes
  src/libpmem2/badblocks_ndctl.c
  src/libpmem2/ndctl_region_namespace.c
  src/libpmem2/usc_ndctl.c
Labels: feature: pmem2

#4679 test: extract pmem2 utils for libpmem2 source from libpmem2 config utils
  src/test/pmem2_config/Makefile
  src/test/pmem2_config/pmem2_config.c
  src/test/pmem2_config/pmem2_config.vcxproj
  src/test/pmem2_config/pmem2_config.vcxproj.filters
  src/test/pmem2_integration/Makefile
  src/test/pmem2_integration/pmem2_integration.c
  src/test/pmem2_integration/pmem2_integration.vcxproj
  src/test/pmem2_integration/pmem2_integration.vcxproj.filters
  src/test/pmem2_map/Makefile
  src/test/pmem2_map/pmem2_map.vcxproj
  src/test/pmem2_map/pmem2_map.vcxproj.filters
  src/test/pmem2_mem_ext/Makefile
  src/test/pmem2_mem_ext/pmem2_mem_ext.c
  src/test/pmem2_mem_ext/pmem2_mem_ext.vcxproj
  src/test/pmem2_mem_ext/pmem2_mem_ext.vcxproj.filters
  src/test/pmem2_memcpy/Makefile
  src/test/pmem2_memcpy/pmem2_memcpy.c
  src/test/pmem2_memcpy/pmem2_memcpy.vcxproj
  src/test/pmem2_memcpy/pmem2_memcpy.vcxproj.filters
  src/test/pmem2_memmove/Makefile
  src/test/pmem2_memmove/pmem2_memmove.c
  src/test/pmem2_memmove/pmem2_memmove.vcxproj
  src/test/pmem2_memmove/pmem2_memmove.vcxproj.filters
  src/test/pmem2_memset/Makefile
  src/test/pmem2_memset/pmem2_memset.c
  src/test/pmem2_memset/pmem2_memset.vcxproj
  src/test/pmem2_memset/pmem2_memset.vcxproj.filters
  src/test/pmem2_movnt/Makefile
  src/test/pmem2_movnt/pmem2_movnt.c
  src/test/pmem2_movnt/pmem2_movnt.vcxproj
  src/test/pmem2_movnt/pmem2_movnt.vcxproj.filters
  src/test/pmem2_movnt_align/Makefile
  src/test/pmem2_movnt_align/pmem2_movnt_align.c
  src/test/pmem2_movnt_align/pmem2_movnt_align.vcxproj
  src/test/pmem2_movnt_align/pmem2_movnt_align.vcxproj.filters
  src/test/pmem2_source_alignment/Makefile
  src/test/pmem2_source_alignment/pmem2_source_alignment.vcxproj
  src/test/pmem2_source_alignment/pmem2_source_alignment.vcxproj.filters
  src/test/pmem2_source_size/Makefile
  src/test/pmem2_source_size/pmem2_source_size.c
  src/test/pmem2_source_size/pmem2_source_size.vcxproj
  src/test/pmem2_source_size/pmem2_source_size.vcxproj.filters
  src/test/unittest/ut_pmem2.h
  src/test/unittest/ut_pmem2_config.c
  src/test/unittest/ut_pmem2_config.h
  src/test/unittest/ut_pmem2_source.c
  src/test/unittest/ut_pmem2_source.h
  src/test/util_sds/Makefile
  src/test/util_sds/util_sds.c
  src/test/util_sds/util_sds.vcxproj
  src/test/util_sds/util_sds.vcxproj.filters
Labels: feature: pmem2

#4668 pmem2: add PMEM2_API_START() and PMEM2_API_END() to pmem2 API
  doc/pmreorder/pmreorder.1.md
  src/core/valgrind_internal.h
  src/libpmem2/persist.c
  src/test/Makefile
  src/test/pmem2_api/.gitignore
  src/test/pmem2_api/Makefile
  src/test/pmem2_api/TESTS.py
  src/test/pmem2_api/pmem2_api.c
  src/test/unittest/futils.py
  src/test/unittest/ut_pmem2.h
  src/test/unittest/ut_pmem2_map.c
  src/test/unittest/ut_pmem2_map.h
  src/test/unittest/ut_pmem2_source.c
  src/test/unittest/ut_pmem2_source.h
Labels: feature: pmem2

#4661 test: fix disabling valgrind mechanism
  src/test/obj_defrag_advanced/TESTS.py
  src/test/obj_fragmentation2/TESTS.py
  src/test/obj_tx_add_range/TESTS.py
  src/test/obj_tx_add_range_direct/TESTS.py
  src/test/obj_ulog_size/TESTS.py
  src/test/unittest/valgrind.py
Labels: QA: TF

#4655 test: x86_64 arch is AMD64 on win
  src/test/unittest/utils.py
Labels: QA: TF

#4683 pmem2: mv ddax deep write to pmem2
  src/common/os_deep_linux.c
  src/common/pmemcommon.inc
  src/libpmem/Makefile
  src/libpmem2/Makefile
  src/libpmem2/deep_sync.h
  src/libpmem2/deep_sync_linux.c
  src/libpmem2/deep_sync_none.c
  src/libpmem2/libpmem2.vcxproj
  src/libpmem2/libpmem2.vcxproj.filters
  src/test/Makefile.inc
  src/test/pmem_deep_persist/TEST0
  src/test/pmem_deep_persist/TEST0.PS1
  src/test/pmem_deep_persist/TEST1
  src/test/pmem_deep_persist/TEST1.PS1
  src/test/pmem_deep_persist/TEST2
  src/test/pmem_deep_persist/TEST3
  src/test/pmem_deep_persist/TEST4
  src/test/pmem_deep_persist/TEST4.PS1
  src/test/pmem_deep_persist/TEST5
  src/test/pmem_deep_persist/TEST5.PS1
  src/test/pmem_deep_persist/TEST6
  src/test/pmem_deep_persist/TEST6.PS1
  src/test/pmem_deep_persist/TEST7
  src/test/pmem_deep_persist/TEST7.PS1
  src/test/pmem_deep_persist/TEST8
  src/test/pmem_deep_persist/TEST9
Labels: feature: pmem2

#4690 test: fix pmemcheck and memcheck defects in tests
  src/test/pmem2_mem_ext/pmem2_mem_ext.c
  src/test/pmem2_source_size/pmem2_source_size.c
Labels: feature: pmem2

#4694 pmem2: (+pmem) call VALGRIND_DO_FLUSH only once per NT memcpy/memset
  src/libpmem2/x86_64/memcpy/memcpy_nt_avx.h
  src/libpmem2/x86_64/memcpy/memcpy_nt_avx512f.h
  src/libpmem2/x86_64/memcpy/memcpy_nt_sse2.h
  src/libpmem2/x86_64/memset/memset_nt_avx.h
  src/libpmem2/x86_64/memset/memset_nt_avx512f.h
  src/libpmem2/x86_64/memset/memset_nt_sse2.h
Labels: libpmem, libpmem2
