Repository pmem/pmdk, pull requests merged in 2020-05, with the labels that each got.

#4784 pmem2: fix possible NULL-pointer dereference
  src/libpmem2/badblocks_ndctl.c
Labels: libpmem2

#4605 let examples compile with -Wall
  src/benchmarks/rpmem.cpp
  src/examples/libpmem2/advanced/advanced.c
  src/examples/libpmemblk/assetdb/asset_list.c
  src/examples/libpmemblk/assetdb/asset_load.c
  src/examples/libpmemobj/array/array.c
  src/examples/libpmemobj/hashmap/hashmap_rp.c
  src/examples/libpmemobj/libart/arttree.c
  src/examples/libpmemobj/libart/arttree_examine.c
  src/examples/libpmemobj/libart/arttree_search.c
  src/examples/libpmemobj/libart/arttree_structures.c
  src/examples/libpmemobj/map/data_store.c
  src/examples/libpmemobj/pmemobjfs/pmemobjfs.c
  src/examples/libpmemobj/pminvaders/pminvaders2.c
  src/examples/librpmem/basic.c
Labels: examples

#4654 obj: introduce pmemobj_tx_set_abort_on_failure
  doc/libpmemobj/pmemobj_tx_begin.3.md
  src/include/libpmemobj/tx_base.h
  src/libpmemobj/libpmemobj.def
  src/libpmemobj/libpmemobj.link.in
  src/libpmemobj/tx.c
  src/test/obj_tx_add_range/obj_tx_add_range.c
  src/test/obj_tx_add_range_direct/obj_tx_add_range_direct.c
  src/test/obj_tx_alloc/obj_tx_alloc.c
  src/test/obj_tx_flow/obj_tx_flow.c
  src/test/obj_tx_free/obj_tx_free.c
  src/test/obj_tx_lock/obj_tx_lock.c
  src/test/obj_tx_strdup/obj_tx_strdup.c
  src/test/obj_ulog_size/obj_ulog_size.c
  src/test/obj_ulog_size/out0.log.match
  src/test/obj_ulog_size/out1.log.match
  src/test/obj_ulog_size/out2.log.match
  src/test/scope/out11.log.match
  src/test/scope/out5.log.match
Labels: libpmemobj

#4776 pmreorder: fix handling transitive stores
  src/test/pmreorder_flushes/pmreorder_flushes.c
  src/test/pmreorder_flushes/pmreorder_flushes0.log.match
  src/tools/pmreorder/statemachine.py
Labels: pmreorder

#4759 benchmark: fix use-after-free in tx realloc benchmark
  src/benchmarks/pmemobj_tx.cpp
Labels: libpmemobj, pmembench

#4793 doc: add vm_reservation manuals to .gitignore
  doc/libpmem2/.gitignore
Labels: documentation, libpmem2

#4794 common: move old bad blocks API from libpmem2 to commons
  src/common/badblock_ndctl.c
  src/common/badblock_none.c
  src/common/badblocks.h
  src/common/libpmemcommon.vcxproj
  src/common/libpmemcommon.vcxproj.filters
  src/common/os_badblock.h
  src/common/set_badblocks.c
  src/common/shutdown_state.c
  src/libpmem2/badblocks_ndctl.c
  src/libpmem2/badblocks_none.c
  src/test/util_badblock/util_badblock.c
  src/tools/pmempool/info.c
Labels: libpmem2

#4773 obj: cache run bitmap data for use during allocation
  src/libpmemobj/alloc_class.c
  src/libpmemobj/alloc_class.h
  src/libpmemobj/heap.c
  src/libpmemobj/memblock.c
  src/libpmemobj/memblock.h
  src/libpmemobj/pmalloc.c
Labels: libpmemobj

#4766 test: add pmem2_badblock_mocks test
  src/libpmem2/badblocks_ndctl.c
  src/test/Makefile
  src/test/pmem2_badblock_mocks/.gitignore
  src/test/pmem2_badblock_mocks/Makefile
  src/test/pmem2_badblock_mocks/TESTS.py
  src/test/pmem2_badblock_mocks/mocks_ndctl.c
  src/test/pmem2_badblock_mocks/mocks_other.c
  src/test/pmem2_badblock_mocks/mocks_pmem2.c
  src/test/pmem2_badblock_mocks/pmem2_badblock_mocks.c
  src/test/pmem2_badblock_mocks/pmem2_badblock_mocks.h
Labels: libpmem2

#4780 doc: pmem2 man granularity touch ups
  doc/libpmem2/libpmem2.7.md
  doc/libpmem2/pmem2_map.3.md
Labels: libpmem2

#4786 doc: add pmem2_badblock_*() manuals
  doc/Makefile
  doc/libpmem2/.gitignore
  doc/libpmem2/pmem2_badblock_clear.3.md
  doc/libpmem2/pmem2_badblock_context_delete.3
  doc/libpmem2/pmem2_badblock_context_new.3.md
  doc/libpmem2/pmem2_badblock_next.3.md
Labels: documentation, libpmem2

#4801 doc: add pmem2_badblock_* functions to linux and windows releases
  _data/releases_linux.yml
  _data/releases_windows.yml
Labels: documentation, libpmem2

#4808 pmem2: fix error handling of ndctl new()
  src/libpmem2/badblocks_ndctl.c
  src/libpmem2/region_namespace_ndctl.c
  src/libpmem2/usc_ndctl.c
Labels: libpmem2

#4807 doc: remove a false sentence from pmem2_config_new(3) manual
  doc/libpmem2/pmem2_config_new.3.md
Labels: documentation, libpmem2

#4809 pmem2: two small bad block fixes
  doc/libpmem2/pmem2_badblock_next.3.md
  src/libpmem2/badblocks_ndctl.c
Labels: libpmem2

#4806 test: compile and run pmem2_badblock_mocks only if ndctl is enabled and installed
  src/test/Makefile
  src/test/pmem2_badblock_mocks/TESTS.py
  src/test/testframework.py
  src/test/unittest/ctx_filter.py
  src/test/unittest/requirements.py
Labels: QA: TF, libpmem2

#4803 test: add enable_admin_tests and require_admin() to Python test framework
  .github/workflows/gha.yml
  appveyor.yml
  src/test/RUNTESTS.py
  src/test/testconfig.py.example
  src/test/unittest/requirements.py
  utils/docker/configure-tests.sh
  utils/docker/images/Dockerfile.fedora-31
  utils/docker/images/Dockerfile.ubuntu-19.10
Labels: QA: TF, libpmem2

#4721 pmem2: add protection flags to pmem2_map
  doc/Makefile
  doc/libpmem2/.gitignore
  doc/libpmem2/pmem2_config_set_protection.3.md
  doc/libpmem2/pmem2_map.3.md
  src/PMDK.sln
  src/include/libpmem2.h
  src/libpmem2/Makefile
  src/libpmem2/config.c
  src/libpmem2/config.h
  src/libpmem2/libpmem2.vcxproj
  src/libpmem2/libpmem2.vcxproj.filters
  src/libpmem2/map_posix.c
  src/libpmem2/map_windows.c
  src/libpmem2/pmem2.c
  src/test/Makefile
  src/test/Makefile.inc
  src/test/pmem2_config/TESTS.py
  src/test/pmem2_config/pmem2_config.c
  src/test/pmem2_map/pmem2_map.c
  src/test/pmem2_map_prot/.gitignore
  src/test/pmem2_map_prot/Makefile
  src/test/pmem2_map_prot/TESTS.py
  src/test/pmem2_map_prot/pmem2_map_prot.c
  src/test/pmem2_map_prot/pmem2_map_prot.vcxproj
  src/test/pmem2_map_prot/pmem2_map_prot.vcxproj.filters
  src/test/util_sds/util_sds.vcxproj
  src/test/util_sds/util_sds.vcxproj.filters
Labels: libpmem2

#4697 doc: add pmem2 deep flush man
  doc/Makefile
  doc/libpmem2/.gitignore
  doc/libpmem2/pmem2_deep_flush.3.md
Labels: documentation, libpmem2

#4699 doc: add deep flush to gh pages
  _data/releases_linux.yml
  _data/releases_windows.yml
Labels: documentation, libpmem2

#4827 pmem2: always translate PMEM2_E_NOSUPP into ENOTSUP
  src/libpmem2/pmem2_utils.c
  src/test/pmem2_perror/pmem2_perror.c
Labels: libpmem2
