Repository pmem/pmdk, pull requests merged in 2021-03, with the labels that each got.

#5155 examples: implement a ring buffer example for libpmem2
  src/examples/libpmem2/Makefile
  src/examples/libpmem2/ringbuf/.gitignore
  src/examples/libpmem2/ringbuf/Makefile
  src/examples/libpmem2/ringbuf/ringbuf.c
  src/test/ex_libpmem2/Makefile
  src/test/ex_libpmem2/TESTS.py
Labels: examples

#5167 doc: add mem[set|move|cpy] to releases list
  _data/releases_linux.yml
  _data/releases_windows.yml
Labels: documentation

#5133 set: add pmemset_remove_part_map function
  doc/Makefile
  doc/libpmem2/pmem2_vm_reservation_map_find.3.md
  doc/libpmemset/.gitignore
  doc/libpmemset/pmemset_part_map.3.md
  doc/libpmemset/pmemset_remove_part_map.3.md
  doc/libpmemset/pmemset_set_contiguous_part_coalescing.3.md
  src/include/libpmemset.h
  src/libpmem2/vm_reservation.c
  src/libpmemset/part.c
  src/libpmemset/part.h
  src/libpmemset/pmemset.c
  src/test/pmemset_part/TESTS.py
  src/test/pmemset_part/pmemset_part.c
Labels: libpmemset

#5149 set: pmemset_deep_flush
  doc/Makefile
  doc/libpmemset/.gitignore
  doc/libpmemset/pmemset_deep_flush.3.md
  src/PMDK.sln
  src/include/libpmemset.h
  src/libpmemset/pmemset.c
  src/test/Makefile
  src/test/pmemset_deep_flush/.gitignore
  src/test/pmemset_deep_flush/Makefile
  src/test/pmemset_deep_flush/TESTS.py
  src/test/pmemset_deep_flush/mock_windows.h
  src/test/pmemset_deep_flush/pmemset_deep_flush.c
  src/test/pmemset_deep_flush/pmemset_deep_flush.vcxproj
  src/test/pmemset_deep_flush/pmemset_deep_flush.vcxproj.filters
Labels: libpmemset

#5156 Set: Added file disposition for pmemset_source_create
  doc/libpmemset/pmemset_source_from_file.3.md
  doc/libpmemset/pmemset_xsource_from_file.3
  src/include/libpmemset.h
  src/libpmemset/config.c
  src/libpmemset/file.c
  src/libpmemset/file.h
  src/libpmemset/file_posix.c
  src/libpmemset/file_windows.c
  src/libpmemset/libpmemset.def
  src/libpmemset/source.c
  src/libpmemset/source.h
  src/test/pmemset_file/pmemset_file.c
  src/test/pmemset_perror/Makefile
  src/test/pmemset_perror/pmemset_perror.c
  src/test/pmemset_perror/pmemset_perror.vcxproj
  src/test/pmemset_perror/pmemset_perror.vcxproj.filters
  src/test/pmemset_perror/test0.log.match
  src/test/pmemset_perror/test1.log.match
  src/test/pmemset_source/TESTS.py
  src/test/pmemset_source/pmemset_source.c
  src/test/scope/out15.log.match
  src/test/scope/out16.log.match
Labels: libpmemset

#5193 doc: updated m4 macro for source_from_file function description
  doc/libpmemset/pmemset_source_from_file.3.md
  doc/macros.man
Labels: documentation, libpmemset

#5189 set: pmemset_source_from_temporary
  doc/Makefile
  doc/libpmemset/.gitignore
  doc/libpmemset/pmemset_part_map.3.md
  doc/libpmemset/pmemset_part_new.3.md
  doc/libpmemset/pmemset_source_from_file.3.md
  doc/libpmemset/pmemset_source_from_temporary.3.md
  src/include/libpmemset.h
  src/libpmemset/file.c
  src/libpmemset/file.h
  src/libpmemset/file_posix.c
  src/libpmemset/file_windows.c
  src/libpmemset/part.c
  src/libpmemset/source.c
  src/libpmemset/source.h
  src/test/pmemset_part/TESTS.py
  src/test/pmemset_part/pmemset_part.c
  src/test/pmemset_source/TESTS.py
  src/test/pmemset_source/out12.log.match
  src/test/pmemset_source/pmemset_source.c
  src/test/unittest/ut.c
Labels: libpmemset
