Repository pmem/pmdk, pull requests merged in 2021-01, with the labels that each got.

#5104 doc: update releases lists
  _data/releases_linux.yml
  _data/releases_windows.yml
Labels: documentation

#5110 [gh-pages] fix release tag for 1.10
  _data/releases_linux.yml
  _data/releases_windows.yml
Labels: documentation

#5080 set: add multiple parts support
  doc/Makefile
  doc/libpmemset/.gitignore
  doc/libpmemset/pmemset_part_map_drop.3.md
  src/core/ravl_interval.c
  src/core/ravl_interval.h
  src/include/libpmemset.h
  src/libpmemset/part.c
  src/libpmemset/part.h
  src/libpmemset/pmemset.c
  src/libpmemset/pmemset.h
  src/test/pmemset_part/TESTS.py
  src/test/pmemset_part/pmemset_part.c
Labels: libpmemset

#5106 set: get part map by addr
  doc/Makefile
  doc/libpmemset/.gitignore
  doc/libpmemset/pmemset_part_map_by_address.3.md
  doc/libpmemset/pmemset_part_map_drop.3.md
  src/include/libpmemset.h
  src/libpmemset/part.c
  src/libpmemset/pmemset.c
  src/test/pmemset_part/TESTS.py
  src/test/pmemset_part/pmemset_part.c
Labels: libpmemset

#5108 doc: update releases lists
  _data/releases_linux.yml
  _data/releases_windows.yml
Labels: documentation

#5115 pmem2: add vm_reservation_extend function
  doc/Makefile
  doc/libpmem2/.gitignore
  doc/libpmem2/pmem2_vm_reservation_extend.3.md
  src/include/libpmem2.h
  src/libpmem2/libpmem2.def
  src/libpmem2/libpmem2.link.in
  src/libpmem2/vm_reservation.c
  src/libpmem2/vm_reservation.h
  src/libpmem2/vm_reservation_posix.c
  src/libpmem2/vm_reservation_windows.c
  src/test/pmem2_vm_reservation/TESTS.py
  src/test/pmem2_vm_reservation/pmem2_vm_reservation.c
  src/test/scope/out13.log.match
  src/test/scope/out14.log.match
Labels: libpmem2
